body {
	margin-top: 2em;
	text-align: center;
	font-size: 6em;
}
h1 {
	font-family: 'Architects Daughter';
}



.info {
 	
	height: 8em;
	width: 7em;
	border-radius: 10px;
	background-color: white;
	opacity: .7;
	margin: 0 auto;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}